body{
    background: #ededed;
}

.navbar{
    max-height: 57px;
}

.navigation .navbar-brand{
    color: white;
    margin-left: 30px;
    padding: inherit;
    font-weight: bold;
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background: white;
    font-size: 15px;
}


a{
    color: #6D8092;
    font-size: 15px;
}

.visualizaiton{
    width: 50% !important;
    height: 50% !important;
}
*{
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    color: #777;
}

​

.navbar{

   background-color: white;
}

​

.navbar-brand{

    background-color: lightseagreen;

    margin: 0%;

    padding-left: 50%;

    padding-right: 50%;

    text-align: center;

    font-display: white;

}

.summary{
    color: #0BADA6;
    font-weight: bolder;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para{

    font-family: Arial, Helvetica, sans-serif;

}

.footer{

    background-color: #666666;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #0BADA6;
    color: white;
    min-height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;

}

p{
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 20px;

}

.box{
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}

.active, .panel:hover{
    border-color: #0BADA6;
    border-style: solid;
}

h1{

    font-size: 35px;

}

h2{

    font-size: 20px;

}

h5{

    font-size: 20px;

}

.latitude{

    font-weight: bold;

    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    padding: 5px;
}

@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: #0BADA6 !important;
    }
    }
    .navbar{
        max-height: none;
        padding: inherit;
    }
    
    .navbar div{
        margin: inherit;
        background-color: white;
    }
    .navbar-brand{
        padding: 10px !important;
    }
    
    button:focus{
        outline: 1px dotted;
        outline: 5px auto -webkit-focusring-color;
    }
    
    

